/*Vars*/
$white:#fff;
$black:#000;
$darkgray:#4A4A4A;
$lightgray:#818181;
$blue:#2B64FF;

/*RWD*/
$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px; //laptop 要照顧 1280 / 1366 / 1440
$xxl:1480px; //大螢幕 要照顧 1680 / 1920
$xxxl:1680px;
//xxxl
@mixin xxxl-width() {
    @media all and (min-width: $xxxl) {
                 @content;
           }
      }
//xxl
@mixin xxl-width() {
    @media all and (min-width: $xxl)and (max-width: $xxxl) {
                 @content;
           }
      }
//xl
@mixin xl-width() {
  @media all and (min-width: $xl) and (max-width: $xxl) {
                  @content;
            }
  }
//lg
@mixin lg-width() {
    @media all and (min-width: $lg) and (max-width: $xl) {
                    @content;
              }
    }
//md
@mixin md-width() {
    @media all and (min-width: $md) and (max-width: $lg) {
                    @content;
              }
    }
//sm
@mixin sm-width() {
    @media all and (min-width: $sm) and (max-width: $md) {
                    @content;
            }
    }
//xs
@mixin xs-width() {
    @media all and (min-width: $xs) and (max-width: $sm) {
                    @content;
            }
    }
/*Mixins*/
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e)
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

html{
    font-size: 16px;
}

/*General Setting*/
body{
    font-family: 'Roboto','Open Sans', sans-serif;
    
}
a{
    text-decoration-line: none;
    cursor:pointer;
}

h1{
    
    @include xxxl-width{
            
        font-size:4.5rem;
    }
    @include xxl-width{
        
        font-size:4.5rem;
    }

    @include xl-width{
        font-size:3.5rem;
    }
    @include lg-width{
        font-size:3.5rem;
    }
    @include md-width{
        font-size:3.5rem;
    }
    @include sm-width{
        font-size:3rem;
    }
    @include xs-width{
        font-size:3rem;
    }
}
h2{
    
    @include xxxl-width{
            
        font-size:3.5rem;
    }
    @include xxl-width{
        
        font-size:3.5rem;
    }

    @include xl-width{
        font-size:3rem;
    }
    @include lg-width{
        font-size:3rem;
      }
    @include md-width{
        font-size:3rem;
    }
    @include sm-width{
        font-size:2.5rem;
    }
    @include xs-width{
        font-size:2.5rem;
    }
}
h3{
    
    @include xxxl-width{
            
        font-size:2.3rem;
    }
    @include xxl-width{
        
        font-size:2.3rem;
    }

    @include xl-width{
        font-size:2rem;
    }
    @include lg-width{
        font-size:2rem;
    }
    @include md-width{
        font-size:1.75rem;
    }
    @include sm-width{
        font-size:1.75rem;
    }
    @include xs-width{
        font-size:1.5rem;
    }
}
h4{
   
    @include xxxl-width{
            
        font-size:1.8rem;
    }
    @include xxl-width{
        
        font-size:1.8rem;
    }

    @include xl-width{ 
        font-size:1.55rem; 
    }
    @include lg-width{
        font-size:1.25rem;
      }
    @include md-width{
        font-size:1.25rem;
    }
    @include sm-width{
        font-size:1.25rem;
    } 
    @include xs-width{
        font-size:1.15rem;
    } 
}
p{
    
    @include xxxl-width{
            
        font-size:1rem;
    }
    @include xxl-width{
        
        font-size:1rem;
    }

    @include xl-width{
        font-size:1rem;
    }
    @include lg-width{
        font-size:1rem;
    }
    @include md-width{
        font-size:1rem;
    }
    @include sm-width{
        font-size:1rem;
    }
    @include xs-width{
        font-size:1rem;
    } 
}