@import "_config.scss";
.header{
   
    // text-shadow: 2px 2px 4px #00000042;
    display: flex;
    flex-direction: row;
    height:100vh;
    width:100%;
    @include md-width{
        background-image: url('./../img/mobile_m3@2x.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include sm-width{
        background-image: url('./../img/mobile_m3@2x.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include xs-width{
        background-image: url('./../img/mobile_m3@2x.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    .header-left{
        display: flex;
        flex-direction: row;
        // width:calc(100% - 1100px);
        @include xxxl-width{
            
            width:calc(100% - 1100px);
        }
        @include xxl-width{
            
            width:calc(100% - 900px);
        }
   
        @include xl-width{
            width:calc(100% - 650px);
        }
        @include lg-width{
            width:calc(100% - 650px);
        }
        @include md-width{
            width:100%;
        }
        @include sm-width{
            width:100%;
        }
        @include xs-width{
            width:100%;
        } 
        .header-left-left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
           
            
            @include xxxl-width{
            
                padding:60px 0px 60px 60px;  
            }
            @include xxl-width{
                
                padding:60px 0px 60px 60px;  
            }
       
            @include xl-width{
                padding:30px 0px 30px 30px;  
            }
            @include lg-width{
                padding:30px 0px 30px 30px;  
            }
            @include md-width{
                padding:30px 0px 30px 30px;  
                color:#fff;
            }
            @include sm-width{
                padding:15px 0px 15px 15px;  
                color:#fff;
            }
            @include xs-width{
                padding:15px 0px 15px 15px;  
                color:#fff;
            } 
            font-family: 'Playfair Display', serif;
                .detail{
                    h1{
                        
                        // font-size: 70px;
                        margin:0px;
                       letter-spacing: 5px;
                    }
                    // p{
                    h4{
                        // font-size: 30px;
                        margin:10px 0px;
                    }
                }      
                 .logo{
                    width:100px;
                    height:100px;
                    @include sm-width{
                        width:50px;
                        height:50px;
                    }
                    @include xs-width{
                        width:50px;
                        height:50px;
                    } 
                }         
                .welcome{
                    h1{
                        // font-size: 70px;
                        margin:10px 0px;
                        letter-spacing: 5px;
                    }
                    h4{
                        // font-size: 30px;
                        margin:10px 0px;
                    }
                }  
                .basicBtn, .basicBtn_reverse{
                    display: inline-block;
                    margin-top: 10px;
                }
                .btn-group{
                    display: flex;
                    flex-direction: row;
                    a{
                        margin-right: 15px;
                    }
                }
        }
    }
    
    .header-right{
        font-family: 'Ibarra Real Nova', serif;
        display: flex;
        flex-direction: row;
       
        @include xxxl-width{
            
            width:1100px;
        }
        @include xxl-width{
            
            width:900px;
        }
   
        @include xl-width{
            width:650px;
        }
        @include lg-width{
            width:650px;
        }
        @include md-width{
            display: none;
        }
        @include sm-width{
            display: none;
        }
        @include xs-width{
            display: none;
        } 
        .header-right-left{
            height:100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            @include xxxl-width{
            
                width:160px;
            }
            @include xxl-width{
                
                width:130px;
            }
       
            @include xl-width{
                width:100px;
            }
            @include lg-width{
                width:100px;
            }
           
            .developer{
               
                font-weight: bold;
                font-family: 'Playfair Display', serif;
                color:rgb(240, 240, 240);
                transform: rotate(-90deg);
                margin:0px;
                letter-spacing: 10px;
                @include xxxl-width{
            
                    font-size:140px;
                }
                @include xxl-width{
                    
                    font-size:120px;
                }
           
                @include xl-width{
                    font-size:100px;
                }
                @include lg-width{
                    font-size:90px;
                }
            }
        }
       
        
        .me{
            // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            height:99%;
            margin-top:0.5%;

        }
        .name{
           
            display: flex;
            align-items: center;
            justify-content: center;
            @include xxxl-width{
            
                width:100%;
            }
            @include xxl-width{
                
                width:100%;
            }
       
            @include xl-width{
                width:100%;
            }
            @include lg-width{
                width:100%;
            }
            p{
                color:#000;
                font-size: 40px;
                transform: rotate(90deg);
            }
        }
    }
}

.professional{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-family: 'Roboto', sans-serif;
    padding:0px 5%;
    box-sizing: border-box;
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        letter-spacing: 5px;
        @include md-width{
            font-size: 36px;
            margin:45px 0px;
        }
        @include sm-width{
            font-size: 36px;
            margin:45px 0px;
        }
        @include xs-width{
            font-size: 30px;
            margin:45px 0px;
        } 
    }
    .professional-section{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        
        .professional-part{
            box-sizing: border-box;
            position: relative;
            width:47.5%;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103), 0 6px 6px rgba(0, 0, 0, 0.164);
            padding:60px;
            margin-bottom: 60px;
            // margin-left: 5%;
            @include md-width{
                width:100%;
            }
            @include sm-width{
                width:100%;
            }
            @include xs-width{
                width:100%;
            } 
            span{
                position: absolute;
                top:-25px;
                left:-25px;
                @include xs-width{
                    top:-15px;
                left:-15px;
                }
                img{
                    width:50px;
                    @include xs-width{
                        width:40px;
                    }
                    @include transition(.4s ease);
                    &:hover{
                        opacity: .7;
                    }
                }
                
            }
            .company-detail{
                display: flex;
               
                justify-content: space-between;
                @include xxxl-width{
            
                    flex-direction: row;
                }
                @include xxl-width{
                    
                    flex-direction: row;
                }
           
                @include xl-width{
                    flex-direction: row;
                }
                @include lg-width{
                    flex-direction: column;
                }
                @include md-width{
                    flex-direction: row;
                }
                @include sm-width{
                    flex-direction: row;
                }
                @include xs-width{
                    flex-direction: column;
                }
            }
            h1{
                font-size:36px;
                margin:0px;
                @include xs-width{
                    font-size:30px;
                }
            }
            p{
                // font-size:20px;
                color:rgb(160, 160, 160);
                margin:0px;
            }
            .works{
               
                @include xxxl-width{
            
                    width:400px;
                }
                @include xxl-width{
                    
                    width:400px;
                }
           
                @include xl-width{
                    width:300px;
                }
                @include lg-width{
                    width:300px;
                }
                @include md-width{
                    width:500px;
                }
                @include sm-width{
                    width:350px;
                }
                @include xs-width{
                    width:300px;
                }
            }
            .works-mobile{
              
                @include xxxl-width{
            
                    width:180px;
                }
                @include xxl-width{
                    
                    width:180px;
                }
           
                @include xl-width{
                    width:150px;
                }
                @include lg-width{
                    width:150px;
                }
                @include md-width{
                    width:200px;
                }
                @include sm-width{
                    width:180px;
                }
                @include xs-width{
                    width:180px;
                }
            }
            .works-big{
                
                @include xxxl-width{
            
                    width:700px;
                }
                @include xxl-width{
                    
                    width:550px;
                }
           
                @include xl-width{
                    width:450px;
                }
                @include lg-width{
                    width:300px;
                }
            }
            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                height:450px;
                @include sm-width{
                    height:400px;
                }
                @include xs-width{
                    height:400px;
                }
            }
        }
    }
}
.academic{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-family: 'Roboto', sans-serif;
    
    padding:0px 5%; 
    h1{
        font-size: 60px;
        letter-spacing: 5px;
        font-family: 'Playfair Display', serif;
        @include md-width{
            font-size: 36px;
            margin:45px 0px;
        }
        @include sm-width{
            font-size: 36px;
            margin:45px 0px;
        }
        @include xs-width{
            font-size: 30px;
            margin:45px 0px;
        }
    }
    .academic-section{
        
        column-count: 2;
        column-gap: 5%;
        width:100%;
        @include md-width{
            column-count: 1;
        }
        @include sm-width{
            column-count: 1;
        }
        @include xs-width{
            column-count: 1;
        }
        .academic-part{
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            padding:60px 50px 50px 50px;
            border:2px solid #000;
            margin-bottom: 60px;
            @include xl-width{
                padding:60px 50px 50px 50px;
            }
            @include lg-width{
                padding:100px 50px 50px 50px;
            }
            @include xs-width{
                padding:100px 50px 50px 50px;
            }
            position: relative;
            h1{
                font-size:36px;
                margin:0px;
                @include xs-width{
                    font-size:30px;
                }
            }
            .school-detail{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color:rgb(151, 150, 150);
                @include xxxl-width{
            
                    width:700px;
                }
                @include xxl-width{
                    
                    width:550px;
                }
           
                @include xl-width{
                    flex-direction: column;
                }
                @include lg-width{
                    flex-direction: column;
                }
                @include md-width{
                    flex-direction: row;
                }
                @include sm-width{
                    flex-direction: column;
                }
                @include xs-width{
                    flex-direction: column;
                }
            }
            .aca-image{
                display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin:60px 0px;
               
           
                @include xl-width{
                 
                    flex-direction: column;
                   
                }
                @include lg-width{
                   
                    flex-direction: column;
                   
                }
                @include sm-width{
                   
                    flex-direction: column;
                   
                }
                @include xs-width{
                   
                    flex-direction: column;
                   
                }

            }
            .aca-title{
                position: absolute;
                top:-2px;
                left:-2px;
                margin: 0px;
                background: #fff;
                z-index: 999;
                padding-left: 70px;
                &:before{
                    content: "";
                    position: absolute;
                    height:100%;
                    width:50px;
                    background: #000;
                    left:0px;
                }
               
            }
            .image-aca{
                width:400px;
                @include sm-width{
                   
                    width:350px;
                   
                }
                @include xs-width{
                   
                    width:300px;
                   
                }
            }
            .image-aca-mobile{
                width:180px;
                @include xxxl-width{
                    width:180px;
                }
                @include xxl-width{
                    width:180px;
                }
           
                @include xl-width{
                    width:180px;
                    margin-top:60px;
                }
                @include sm-width{
                   
                    margin:30px;
                   
                }
                @include xs-width{
                   
                    margin:30px;
                   
                }

            }
            .aca-link{
                float:right;
                @include xs-width{
                   
                    margin-top: 30px;
                   
                }
                
            

                img{
                    margin-left: 20px;
                    width:50px;
                    @include transition(.4s ease);
                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
   
}