@import "_config.scss";
.header{
   
    // text-shadow: 2px 2px 4px #00000042;
    display: flex;
    flex-direction: row;
    height:100vh;
    weight:100vw;
    .header-left{
        display: flex;
        flex-direction: row;
        width:40%;
       
        .header-left-left{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
           
            padding:60px 0px 60px 60px;  
            font-family: 'Playfair Display', serif;
                .detail{
                    h1{
                        
                        font-size: 70px;
                        margin:0px;
                       letter-spacing: 5px;
                    }
                    p{
                        font-size: 30px;
                        margin:10px 0px;
                    }
                }      
                 .logo{
                    width:100px;
                    height:100px;
                }         
                .welcome{
                    h1{
                        font-size: 70px;
                        margin:10px 0px;
                        letter-spacing: 5px;
                    }
                    p{
                        font-size: 30px;
                        margin:10px 0px;
                    }
                }  
                .basicBtn{
                    display: inline-block;
                    margin-top: 10px;
                }
        }
    }
    
    .header-right{
        font-family: 'Ibarra Real Nova', serif;
        display: flex;
        flex-direction: row;
        width:60%;
        .header-right-left{
            height:100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:160px;
            .developer{
                font-size:140px;
                font-weight: bold;
                font-family: 'Playfair Display', serif;
                color:rgb(240, 240, 240);
                transform: rotate(-90deg);
                margin:0px;
                letter-spacing: 10px;
              
            }
        }
       
     
        .me{
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            height:100%;
        }
        .name{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                color:#000;
                font-size: 40px;
                transform: rotate(90deg);
            }
        }
    }
}