@import "_config.scss";
.header{
   
    // text-shadow: 2px 2px 4px #00000042;
    display: flex;
    flex-direction: row;
    height:100vh;
    width:100%;
    .header-left{
        display: flex;
        flex-direction: row;
        // width:calc(100% - 1100px);
        @include xxxl-width{
            
            width:calc(100% - 1100px);
        }
        @include xxl-width{
            
            width:calc(100% - 900px);
        }
   
        @include xl-width{
            width:calc(100% - 620px);
        }
        .header-left-left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
           
            padding:60px 0px 60px 60px;  
            font-family: 'Playfair Display', serif;
                .detail{
                    h1{
                        
                        font-size: 70px;
                        margin:0px;
                       letter-spacing: 5px;
                    }
                    p{
                        font-size: 30px;
                        margin:10px 0px;
                    }
                }      
                 .logo{
                    width:100px;
                    height:100px;
                }         
                .welcome{
                    h1{
                        font-size: 70px;
                        margin:10px 0px;
                        letter-spacing: 5px;
                    }
                    p{
                        font-size: 30px;
                        margin:10px 0px;
                    }
                }  
                .basicBtn{
                    display: inline-block;
                    margin-top: 10px;
                }
        }
    }
    
    .header-right{
        font-family: 'Ibarra Real Nova', serif;
        display: flex;
        flex-direction: row;
       
        @include xxxl-width{
            
            width:1100px;
        }
        @include xxl-width{
            
            width:900px;
        }
   
        @include xl-width{
            width:620px;
        }
        .header-right-left{
            height:100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            @include xxxl-width{
            
                width:160px;
            }
            @include xxl-width{
                
                width:130px;
            }
       
            @include xl-width{
                width:100px;
            }
            .developer{
               
                font-weight: bold;
                font-family: 'Playfair Display', serif;
                color:rgb(240, 240, 240);
                transform: rotate(-90deg);
                margin:0px;
                letter-spacing: 10px;
                @include xxxl-width{
            
                    font-size:140px;
                }
                @include xxl-width{
                    
                    font-size:120px;
                }
           
                @include xl-width{
                    font-size:100px;
                }
            }
        }
       
        
        .me{
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            height:99%;
           

        }
        .name{
           
            display: flex;
            align-items: center;
            justify-content: center;
            @include xxxl-width{
            
                width:100%;
            }
            @include xxl-width{
                
                width:100%;
            }
       
            @include xl-width{
                width:100%;
            }
            p{
                color:#000;
                font-size: 40px;
                transform: rotate(90deg);
            }
        }
    }
}

.professional{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-family: 'Playfair Display', serif;
  
    h1{
        font-size: 60px;
        letter-spacing: 5px;
    }
    .professional-section{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        // justify-content: space-evenly;
        
        .professional-part{
            box-sizing: border-box;
            position: relative;
            width:42.5%;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103), 0 6px 6px rgba(0, 0, 0, 0.164);
            padding:60px;
            margin-bottom: 60px;
            margin-left: 5%;
            span{
                position: absolute;
                top:-25px;
                left:-25px;
                img{
                    width:50px;
                    @include transition(.4s ease);
                    &:hover{
                        opacity: .7;
                    }
                }
                
            }
            .company-detail{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            h1{
                font-size:36px;
                margin:0px;
            }
            h3{
                font-size:20px;
                color:rgb(185, 185, 185);
                margin:0px;
            }
            .works{
               
                @include xxxl-width{
            
                    width:400px;
                }
                @include xxl-width{
                    
                    width:400px;
                }
           
                @include xl-width{
                    width:300px;
                }
            }
            .works-mobile{
              
                @include xxxl-width{
            
                    width:180px;
                }
                @include xxl-width{
                    
                    width:180px;
                }
           
                @include xl-width{
                    width:150px;
                }
            }
            .works-big{
                
                @include xxxl-width{
            
                    width:700px;
                }
                @include xxl-width{
                    
                    width:550px;
                }
           
                @include xl-width{
                    width:450px;
                }
            }
            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                height:450px;

            }
        }
    }
}
.academic{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-family: 'Playfair Display', serif;
    padding:0px 5%; 
    h1{
        font-size: 36px;
        letter-spacing: 5px;
    }
    .academic-section{
        
        column-count: 2;
        column-gap: 5%;
        width:100%;
        .academic-part{
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            padding:100px 50px 50px 50px;
            border:2px solid #000;
            margin-bottom: 60px;
           
            position: relative;
            .school-detail{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .aca-image{
               
                @include xxxl-width{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin:60px 0px;
                }
                @include xxl-width{
                    display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin:60px 0px;
                }
           
                @include xl-width{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    margin:60px 0px;
                }
            }
            .aca-title{
                position: absolute;
                top:-2px;
                left:-2px;
                margin: 0px;
                background: #fff;
                z-index: 999;
                padding-left: 70px;
                &:before{
                    content: "";
                    position: absolute;
                    height:100%;
                    width:50px;
                    background: #000;
                    left:0px;
                }
            }
            .image-aca{
                width:400px;
            }
            .image-aca-mobile{
                width:180px;
                @include xxxl-width{
                    width:180px;
                }
                @include xxl-width{
                    width:180px;
                }
           
                @include xl-width{
                    width:180px;
                    margin-top:60px;
                }
            }
            .aca-link{
                float:right;
                img{
                    margin-right: 20px;
                    width:50px;
                    @include transition(.4s ease);
                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
   
}