/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif; }

a {
  text-decoration-line: none;
  cursor: pointer; }

@media all and (min-width: 1680px) {
  h1 {
    font-size: 4.5rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h1 {
    font-size: 4.5rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 3rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h1 {
    font-size: 3rem; } }

@media all and (min-width: 1680px) {
  h2 {
    font-size: 3.5rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h2 {
    font-size: 3.5rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h2 {
    font-size: 2.5rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h2 {
    font-size: 2.5rem; } }

@media all and (min-width: 1680px) {
  h3 {
    font-size: 2.3rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h3 {
    font-size: 2.3rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h3 {
    font-size: 2rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h3 {
    font-size: 2rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h3 {
    font-size: 1.75rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h3 {
    font-size: 1.75rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h3 {
    font-size: 1.5rem; } }

@media all and (min-width: 1680px) {
  h4 {
    font-size: 1.8rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h4 {
    font-size: 1.8rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h4 {
    font-size: 1.55rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h4 {
    font-size: 1.15rem; } }

@media all and (min-width: 1680px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  p {
    font-size: 1rem; } }

.basicBtn {
  color: #fff;
  background: #000;
  z-index: 999;
  border: 2px solid #000;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  @media all and (min-width: 1680px) {
    .basicBtn {
      padding: 15px 60px; } }
  @media all and (min-width: 1480px) and (max-width: 1680px) {
    .basicBtn {
      padding: 15px 60px; } }
  @media all and (min-width: 1200px) and (max-width: 1480px) {
    .basicBtn {
      padding: 15px 60px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .basicBtn {
      padding: 15px 40px; } }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .basicBtn {
      padding: 15px 40px; } }
  @media all and (min-width: 576px) and (max-width: 768px) {
    .basicBtn {
      padding: 15px 20px; } }
  @media all and (min-width: 0) and (max-width: 576px) {
    .basicBtn {
      padding: 15px 20px; } }
  .basicBtn:hover {
    color: #fff;
    background: #000;
    color: #000;
    background: #fff; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .basicBtn:hover {
        background: rgba(0, 0, 0, 0);
        color: #fff; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .basicBtn:hover {
        background: rgba(0, 0, 0, 0);
        color: #fff; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .basicBtn:hover {
        background: rgba(0, 0, 0, 0);
        color: #fff; } }

.basicBtn_reverse {
  color: #000;
  background: #fff;
  z-index: 999;
  border: 2px solid #000;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  @media all and (min-width: 1680px) {
    .basicBtn_reverse {
      padding: 15px 60px; } }
  @media all and (min-width: 1480px) and (max-width: 1680px) {
    .basicBtn_reverse {
      padding: 15px 60px; } }
  @media all and (min-width: 1200px) and (max-width: 1480px) {
    .basicBtn_reverse {
      padding: 15px 60px; } }
  @media all and (min-width: 992px) and (max-width: 1200px) {
    .basicBtn_reverse {
      padding: 15px 40px; } }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .basicBtn_reverse {
      padding: 15px 40px;
      border: 2px solid #fff; } }
  @media all and (min-width: 576px) and (max-width: 768px) {
    .basicBtn_reverse {
      padding: 15px 20px;
      border: 2px solid #fff; } }
  @media all and (min-width: 0) and (max-width: 576px) {
    .basicBtn_reverse {
      padding: 15px 20px;
      border: 2px solid #fff; } }
  .basicBtn_reverse:hover {
    color: #000;
    background: #fff;
    color: #fff;
    background: #000; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .basicBtn_reverse:hover {
        background: rgba(255, 255, 255, 0);
        border: 2px solid #fff; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .basicBtn_reverse:hover {
        background: rgba(255, 255, 255, 0);
        border: 2px solid #fff; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .basicBtn_reverse:hover {
        background: rgba(255, 255, 255, 0);
        border: 2px solid #fff; } }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.notFound {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif; }

a {
  text-decoration-line: none;
  cursor: pointer; }

@media all and (min-width: 1680px) {
  h1 {
    font-size: 4.5rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h1 {
    font-size: 4.5rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 3rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h1 {
    font-size: 3rem; } }

@media all and (min-width: 1680px) {
  h2 {
    font-size: 3.5rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h2 {
    font-size: 3.5rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h2 {
    font-size: 3rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h2 {
    font-size: 2.5rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h2 {
    font-size: 2.5rem; } }

@media all and (min-width: 1680px) {
  h3 {
    font-size: 2.3rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h3 {
    font-size: 2.3rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h3 {
    font-size: 2rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h3 {
    font-size: 2rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h3 {
    font-size: 1.75rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h3 {
    font-size: 1.75rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h3 {
    font-size: 1.5rem; } }

@media all and (min-width: 1680px) {
  h4 {
    font-size: 1.8rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  h4 {
    font-size: 1.8rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  h4 {
    font-size: 1.55rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  h4 {
    font-size: 1.25rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  h4 {
    font-size: 1.15rem; } }

@media all and (min-width: 1680px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 1480px) and (max-width: 1680px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 1200px) and (max-width: 1480px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 576px) and (max-width: 768px) {
  p {
    font-size: 1rem; } }

@media all and (min-width: 0) and (max-width: 576px) {
  p {
    font-size: 1rem; } }

.header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%; }
  @media all and (min-width: 768px) and (max-width: 992px) {
    .header {
      background-image: url("./../img/mobile_m3@2x.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }
  @media all and (min-width: 576px) and (max-width: 768px) {
    .header {
      background-image: url("./../img/mobile_m3@2x.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }
  @media all and (min-width: 0) and (max-width: 576px) {
    .header {
      background-image: url("./../img/mobile_m3@2x.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }
  .header .header-left {
    display: flex;
    flex-direction: row; }
    @media all and (min-width: 1680px) {
      .header .header-left {
        width: calc(100% - 1100px); } }
    @media all and (min-width: 1480px) and (max-width: 1680px) {
      .header .header-left {
        width: calc(100% - 900px); } }
    @media all and (min-width: 1200px) and (max-width: 1480px) {
      .header .header-left {
        width: calc(100% - 650px); } }
    @media all and (min-width: 992px) and (max-width: 1200px) {
      .header .header-left {
        width: calc(100% - 650px); } }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .header .header-left {
        width: 100%; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .header .header-left {
        width: 100%; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .header .header-left {
        width: 100%; } }
    .header .header-left .header-left-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      font-family: 'Playfair Display', serif; }
      @media all and (min-width: 1680px) {
        .header .header-left .header-left-left {
          padding: 60px 0px 60px 60px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .header .header-left .header-left-left {
          padding: 60px 0px 60px 60px; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .header .header-left .header-left-left {
          padding: 30px 0px 30px 30px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .header .header-left .header-left-left {
          padding: 30px 0px 30px 30px; } }
      @media all and (min-width: 768px) and (max-width: 992px) {
        .header .header-left .header-left-left {
          padding: 30px 0px 30px 30px;
          color: #fff; } }
      @media all and (min-width: 576px) and (max-width: 768px) {
        .header .header-left .header-left-left {
          padding: 15px 0px 15px 15px;
          color: #fff; } }
      @media all and (min-width: 0) and (max-width: 576px) {
        .header .header-left .header-left-left {
          padding: 15px 0px 15px 15px;
          color: #fff; } }
      .header .header-left .header-left-left .detail h1 {
        margin: 0px;
        letter-spacing: 5px; }
      .header .header-left .header-left-left .detail h4 {
        margin: 10px 0px; }
      .header .header-left .header-left-left .logo {
        width: 100px;
        height: 100px; }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .header .header-left .header-left-left .logo {
            width: 50px;
            height: 50px; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .header .header-left .header-left-left .logo {
            width: 50px;
            height: 50px; } }
      .header .header-left .header-left-left .welcome h1 {
        margin: 10px 0px;
        letter-spacing: 5px; }
      .header .header-left .header-left-left .welcome h4 {
        margin: 10px 0px; }
      .header .header-left .header-left-left .basicBtn, .header .header-left .header-left-left .basicBtn_reverse {
        display: inline-block;
        margin-top: 10px; }
      .header .header-left .header-left-left .btn-group {
        display: flex;
        flex-direction: row; }
        .header .header-left .header-left-left .btn-group a {
          margin-right: 15px; }
  .header .header-right {
    font-family: 'Ibarra Real Nova', serif;
    display: flex;
    flex-direction: row; }
    @media all and (min-width: 1680px) {
      .header .header-right {
        width: 1100px; } }
    @media all and (min-width: 1480px) and (max-width: 1680px) {
      .header .header-right {
        width: 900px; } }
    @media all and (min-width: 1200px) and (max-width: 1480px) {
      .header .header-right {
        width: 650px; } }
    @media all and (min-width: 992px) and (max-width: 1200px) {
      .header .header-right {
        width: 650px; } }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .header .header-right {
        display: none; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .header .header-right {
        display: none; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .header .header-right {
        display: none; } }
    .header .header-right .header-right-left {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media all and (min-width: 1680px) {
        .header .header-right .header-right-left {
          width: 160px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .header .header-right .header-right-left {
          width: 130px; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .header .header-right .header-right-left {
          width: 100px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .header .header-right .header-right-left {
          width: 100px; } }
      .header .header-right .header-right-left .developer {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        color: #f0f0f0;
        transform: rotate(-90deg);
        margin: 0px;
        letter-spacing: 10px; }
        @media all and (min-width: 1680px) {
          .header .header-right .header-right-left .developer {
            font-size: 140px; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .header .header-right .header-right-left .developer {
            font-size: 120px; } }
        @media all and (min-width: 1200px) and (max-width: 1480px) {
          .header .header-right .header-right-left .developer {
            font-size: 100px; } }
        @media all and (min-width: 992px) and (max-width: 1200px) {
          .header .header-right .header-right-left .developer {
            font-size: 90px; } }
    .header .header-right .me {
      height: 99%;
      margin-top: 0.5%; }
    .header .header-right .name {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media all and (min-width: 1680px) {
        .header .header-right .name {
          width: 100%; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .header .header-right .name {
          width: 100%; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .header .header-right .name {
          width: 100%; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .header .header-right .name {
          width: 100%; } }
      .header .header-right .name p {
        color: #000;
        font-size: 40px;
        transform: rotate(90deg); }

.professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0px 5%;
  box-sizing: border-box; }
  .professional h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    letter-spacing: 5px; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .professional h1 {
        font-size: 36px;
        margin: 45px 0px; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .professional h1 {
        font-size: 36px;
        margin: 45px 0px; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .professional h1 {
        font-size: 30px;
        margin: 45px 0px; } }
  .professional .professional-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .professional .professional-section .professional-part {
      box-sizing: border-box;
      position: relative;
      width: 47.5%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103), 0 6px 6px rgba(0, 0, 0, 0.164);
      padding: 60px;
      margin-bottom: 60px; }
      @media all and (min-width: 768px) and (max-width: 992px) {
        .professional .professional-section .professional-part {
          width: 100%; } }
      @media all and (min-width: 576px) and (max-width: 768px) {
        .professional .professional-section .professional-part {
          width: 100%; } }
      @media all and (min-width: 0) and (max-width: 576px) {
        .professional .professional-section .professional-part {
          width: 100%; } }
      .professional .professional-section .professional-part span {
        position: absolute;
        top: -25px;
        left: -25px; }
        @media all and (min-width: 0) and (max-width: 576px) {
          .professional .professional-section .professional-part span {
            top: -15px;
            left: -15px; } }
        .professional .professional-section .professional-part span img {
          width: 50px;
          -webkit-transition: 0.4s ease;
          -moz-transition: 0.4s ease;
          transition: 0.4s ease; }
          @media all and (min-width: 0) and (max-width: 576px) {
            .professional .professional-section .professional-part span img {
              width: 40px; } }
          .professional .professional-section .professional-part span img:hover {
            opacity: .7; }
      .professional .professional-section .professional-part .company-detail {
        display: flex;
        justify-content: space-between; }
        @media all and (min-width: 1680px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: row; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: row; } }
        @media all and (min-width: 1200px) and (max-width: 1480px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: row; } }
        @media all and (min-width: 992px) and (max-width: 1200px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: column; } }
        @media all and (min-width: 768px) and (max-width: 992px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: row; } }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: row; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .professional .professional-section .professional-part .company-detail {
            flex-direction: column; } }
      .professional .professional-section .professional-part h1 {
        font-size: 36px;
        margin: 0px; }
        @media all and (min-width: 0) and (max-width: 576px) {
          .professional .professional-section .professional-part h1 {
            font-size: 30px; } }
      .professional .professional-section .professional-part p {
        color: #a0a0a0;
        margin: 0px; }
      @media all and (min-width: 1680px) {
        .professional .professional-section .professional-part .works {
          width: 400px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .professional .professional-section .professional-part .works {
          width: 400px; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .professional .professional-section .professional-part .works {
          width: 300px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .professional .professional-section .professional-part .works {
          width: 300px; } }
      @media all and (min-width: 768px) and (max-width: 992px) {
        .professional .professional-section .professional-part .works {
          width: 500px; } }
      @media all and (min-width: 576px) and (max-width: 768px) {
        .professional .professional-section .professional-part .works {
          width: 350px; } }
      @media all and (min-width: 0) and (max-width: 576px) {
        .professional .professional-section .professional-part .works {
          width: 300px; } }
      @media all and (min-width: 1680px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 180px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 180px; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 150px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 150px; } }
      @media all and (min-width: 768px) and (max-width: 992px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 200px; } }
      @media all and (min-width: 576px) and (max-width: 768px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 180px; } }
      @media all and (min-width: 0) and (max-width: 576px) {
        .professional .professional-section .professional-part .works-mobile {
          width: 180px; } }
      @media all and (min-width: 1680px) {
        .professional .professional-section .professional-part .works-big {
          width: 700px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .professional .professional-section .professional-part .works-big {
          width: 550px; } }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .professional .professional-section .professional-part .works-big {
          width: 450px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .professional .professional-section .professional-part .works-big {
          width: 300px; } }
      .professional .professional-section .professional-part .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px; }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .professional .professional-section .professional-part .image {
            height: 400px; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .professional .professional-section .professional-part .image {
            height: 400px; } }

.academic {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0px 5%; }
  .academic h1 {
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .academic h1 {
        font-size: 36px;
        margin: 45px 0px; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .academic h1 {
        font-size: 36px;
        margin: 45px 0px; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .academic h1 {
        font-size: 30px;
        margin: 45px 0px; } }
  .academic .academic-section {
    column-count: 2;
    column-gap: 5%;
    width: 100%; }
    @media all and (min-width: 768px) and (max-width: 992px) {
      .academic .academic-section {
        column-count: 1; } }
    @media all and (min-width: 576px) and (max-width: 768px) {
      .academic .academic-section {
        column-count: 1; } }
    @media all and (min-width: 0) and (max-width: 576px) {
      .academic .academic-section {
        column-count: 1; } }
    .academic .academic-section .academic-part {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 60px 50px 50px 50px;
      border: 2px solid #000;
      margin-bottom: 60px;
      position: relative; }
      @media all and (min-width: 1200px) and (max-width: 1480px) {
        .academic .academic-section .academic-part {
          padding: 60px 50px 50px 50px; } }
      @media all and (min-width: 992px) and (max-width: 1200px) {
        .academic .academic-section .academic-part {
          padding: 100px 50px 50px 50px; } }
      @media all and (min-width: 0) and (max-width: 576px) {
        .academic .academic-section .academic-part {
          padding: 100px 50px 50px 50px; } }
      .academic .academic-section .academic-part h1 {
        font-size: 36px;
        margin: 0px; }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part h1 {
            font-size: 30px; } }
      .academic .academic-section .academic-part .school-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #979696; }
        @media all and (min-width: 1680px) {
          .academic .academic-section .academic-part .school-detail {
            width: 700px; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .academic .academic-section .academic-part .school-detail {
            width: 550px; } }
        @media all and (min-width: 1200px) and (max-width: 1480px) {
          .academic .academic-section .academic-part .school-detail {
            flex-direction: column; } }
        @media all and (min-width: 992px) and (max-width: 1200px) {
          .academic .academic-section .academic-part .school-detail {
            flex-direction: column; } }
        @media all and (min-width: 768px) and (max-width: 992px) {
          .academic .academic-section .academic-part .school-detail {
            flex-direction: row; } }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .academic .academic-section .academic-part .school-detail {
            flex-direction: column; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part .school-detail {
            flex-direction: column; } }
      .academic .academic-section .academic-part .aca-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 60px 0px; }
        @media all and (min-width: 1200px) and (max-width: 1480px) {
          .academic .academic-section .academic-part .aca-image {
            flex-direction: column; } }
        @media all and (min-width: 992px) and (max-width: 1200px) {
          .academic .academic-section .academic-part .aca-image {
            flex-direction: column; } }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .academic .academic-section .academic-part .aca-image {
            flex-direction: column; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part .aca-image {
            flex-direction: column; } }
      .academic .academic-section .academic-part .aca-title {
        position: absolute;
        top: -2px;
        left: -2px;
        margin: 0px;
        background: #fff;
        z-index: 999;
        padding-left: 70px; }
        .academic .academic-section .academic-part .aca-title:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 50px;
          background: #000;
          left: 0px; }
      .academic .academic-section .academic-part .image-aca {
        width: 400px; }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .academic .academic-section .academic-part .image-aca {
            width: 350px; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part .image-aca {
            width: 300px; } }
      .academic .academic-section .academic-part .image-aca-mobile {
        width: 180px; }
        @media all and (min-width: 1680px) {
          .academic .academic-section .academic-part .image-aca-mobile {
            width: 180px; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .academic .academic-section .academic-part .image-aca-mobile {
            width: 180px; } }
        @media all and (min-width: 1200px) and (max-width: 1480px) {
          .academic .academic-section .academic-part .image-aca-mobile {
            width: 180px;
            margin-top: 60px; } }
        @media all and (min-width: 576px) and (max-width: 768px) {
          .academic .academic-section .academic-part .image-aca-mobile {
            margin: 30px; } }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part .image-aca-mobile {
            margin: 30px; } }
      .academic .academic-section .academic-part .aca-link {
        float: right; }
        @media all and (min-width: 0) and (max-width: 576px) {
          .academic .academic-section .academic-part .aca-link {
            margin-top: 30px; } }
        .academic .academic-section .academic-part .aca-link img {
          margin-left: 20px;
          width: 50px;
          -webkit-transition: 0.4s ease;
          -moz-transition: 0.4s ease;
          transition: 0.4s ease; }
          .academic .academic-section .academic-part .aca-link img:hover {
            opacity: .7; }
