/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.dashboard {
  width: 100%; }

.dashboard_title {
  padding: 60px 200px 180px 200px;
  background: #6FBBFF;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 99;
  position: relative; }
  .dashboard_title h1 {
    margin-bottom: 0px; }
    .dashboard_title h1 span {
      display: inline;
      font-size: 45px;
      color: #fff;
      margin-left: 16px; }
      .dashboard_title h1 span a {
        vertical-align: bottom; }
        .dashboard_title h1 span a img {
          width: 40px; }

.dashboard_body {
  margin-top: -120px;
  padding-left: 200px;
  padding-right: 200px;
  background: #EAF5FF;
  padding-bottom: 150px; }
  .dashboard_body .bottomPieGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px; }
    .dashboard_body .bottomPieGroup section {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      width: 45%; }
      @media all and (min-width: 1680px) {
        .dashboard_body .bottomPieGroup section {
          padding: 25px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .dashboard_body .bottomPieGroup section {
          padding: 20px; } }
      @media all and (max-width: 1480px) {
        .dashboard_body .bottomPieGroup section {
          padding: 15px; } }
      .dashboard_body .bottomPieGroup section .Dashboard-body-second-part1 h2 {
        margin-bottom: 10px;
        margin-top: 0px; }
  .dashboard_body .Dashboard-body-second-part1-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media all and (max-width: 1480px) {
      .dashboard_body .Dashboard-body-second-part1-status {
        flex-direction: column; } }
    .dashboard_body .Dashboard-body-second-part1-status .status-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px; }
      .dashboard_body .Dashboard-body-second-part1-status .status-list span {
        margin-right: 30px; }
        @media all and (min-width: 1680px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 25px; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 15px; } }
        @media all and (max-width: 1480px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 10px; } }
  .dashboard_body .Dashboard-body-second-part2 {
    display: flex;
    align-items: center;
    justify-content: center; }
  .dashboard_body .dashboard_table {
    height: 1600px;
    overflow-y: scroll;
    z-index: 999;
    position: relative;
    padding: 20px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .dashboard_body .dashboard_table h3 {
      margin-top: 0px;
      margin-bottom: 15px; }
    .dashboard_body .dashboard_table table {
      width: 100%;
      border-collapse: collapse;
      text-align: center; }
      .dashboard_body .dashboard_table table .sale {
        color: #008a00; }
      .dashboard_body .dashboard_table table .notsale {
        color: #da0000; }
    .dashboard_body .dashboard_table thead {
      background: #F4F4F4;
      color: #717171;
      font-weight: bold;
      cursor: s-resize; }
    .dashboard_body .dashboard_table td, .dashboard_body .dashboard_table th {
      padding: 23px 15px;
      border: 1px solid #707070; }
      .dashboard_body .dashboard_table td img, .dashboard_body .dashboard_table th img {
        width: 20px;
        height: 20px; }
    .dashboard_body .dashboard_table th {
      color: black; }
    .dashboard_body .dashboard_table tbody {
      background: #fff;
      color: #464646; }

.productCompare .tableStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around; }
  .productCompare .tableStatus span {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .productCompare .tableStatus span h4 {
      margin-left: 30px; }

.productCompare h2 {
  margin-top: 0px;
  margin-bottom: 10px; }

.productCompare .barchart {
  display: block;
  overflow-x: scroll; }

.displayNone {
  display: none; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.basicBtn {
  color: #fff;
  background: #000;
  padding: 15px 60px;
  border: 2px solid #000;
  font-size: 20px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  .basicBtn:hover {
    color: #fff;
    background: #000;
    color: #000;
    background: #fff; }

.basicBtn_reverse {
  color: #2B64FF;
  background: #fff;
  padding: 15px 0px;
  width: 300px;
  text-align: center;
  border: 2px solid #fff;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  .basicBtn_reverse:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0); }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.notFound {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  weight: 100vw; }
  .header .header-left {
    display: flex;
    flex-direction: row;
    width: 40%; }
    .header .header-left .header-left-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      padding: 60px 0px 60px 60px;
      font-family: 'Playfair Display', serif; }
      .header .header-left .header-left-left .detail h1 {
        font-size: 70px;
        margin: 0px;
        letter-spacing: 5px; }
      .header .header-left .header-left-left .detail p {
        font-size: 30px;
        margin: 10px 0px; }
      .header .header-left .header-left-left .logo {
        width: 100px;
        height: 100px; }
      .header .header-left .header-left-left .welcome h1 {
        font-size: 70px;
        margin: 10px 0px;
        letter-spacing: 5px; }
      .header .header-left .header-left-left .welcome p {
        font-size: 30px;
        margin: 10px 0px; }
      .header .header-left .header-left-left .basicBtn {
        display: inline-block;
        margin-top: 10px; }
  .header .header-right {
    font-family: 'Ibarra Real Nova', serif;
    display: flex;
    flex-direction: row;
    width: 60%; }
    .header .header-right .header-right-left {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 160px; }
      .header .header-right .header-right-left .developer {
        font-size: 140px;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        color: #f0f0f0;
        transform: rotate(-90deg);
        margin: 0px;
        letter-spacing: 10px; }
    .header .header-right .me {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      height: 100%; }
    .header .header-right .name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .header-right .name p {
        color: #000;
        font-size: 40px;
        transform: rotate(90deg); }
